<<<<<<< Updated upstream
body {
    font-family: Lato, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.7;
    margin: 0;
    text-align: left;
    color: #777;
    background-color: #fff;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.navbar-nav {
    border: 1px solid black;
}

.navbar-brand {
    border: 1px solid black;
}

.carousel {
    max-width: 1140px;
    height: auto;
    background-color: blue;
}

.navbar-m {
    /* flex-grow: 0; */
    display: flex;
    justify-content: space-between;
}

nav {
    color: #777777;
    position: absolute;
}

.navbar-light {
    background-color: #00000000;
=======
.video-section .slide-process-bao {
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    bottom: 0;
}

.video-section .slide-process-bao li {
    width: 100%;
    height: 72px;
    background: none !important;
    text-indent: unset;
    display: flex;
    justify-self: flex-start;
    opacity: 0.5;
}

.video-section .slide-process-bao li:hover {
    cursor: pointer;
}
.video-section .slide-process-bao li  {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.video-section .slide-process-bao li  img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

.video-section .slide-process-bao li .slide-process-content {
    color: white;
}

.video-section .slide-process-bao li .slide-process-content span {
    font-size: 15px;
}

.video-section .slide-process-bao li .slide-process-content p {
    color: #dde0c9;
}
.video-section .carousel-item-content {
    position: absolute;
    z-index: 10;
    display: flex;
    padding-top: 50px;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center;
}

.video-section .carousel-item-content h2 {
    font-weight: 800;
    font-size: 50px;
    color: white;
}

.video-section .carousel-item-content .watch-video i {
    font-size: 150px;
    color: white;
}

.video-section .carousel-item-content .watch-video {
    opacity: 0.75;
    color: white;
    margin-bottom: 40px;
}

.video-section .carousel-item-content .watch-video:hover {
    color: white;
    opacity: 1 !important;
    cursor: pointer;
}

.video-section .carousel-item-content .view-profile-btn {
    padding: 6px 20px;
    font-size: 14px;
    background: rgba(0, 0, 0, .5);
    color: white;
    margin-top: 42px;
    border-radius: 5px;
}

.video-section .carousel-item-content .view-profile-btn:hover {
    cursor: pointer;
    background-color: black;
    color: white;
>>>>>>> Stashed changes
}